<!-- 
    This launch file brings up Leap Hand and Realsense Hardware
    according to the parameters
 -->
<launch>

    <!-- By default, we launch Leap Hand -->
    <arg name="start_hand" default="true" />
    <arg name="free_move" default="false" />

    <!-- By default, we launch single camera D405 -->
    <arg name="use_single_camera" default="true" />

    <!-- Leap Hand -->
    <group if="$(arg start_hand)">
        <include file="$(find leap_hardware)/launch/leap_bringup.launch">
            <arg name="free_move" value="$(arg free_move)" />
            <arg name="enable_visualization" value="true" />
            <arg name="use_rviz" value="true" />
            <arg name="publish_joint_state" value="false" />
        </include>
    </group>

    <!-- Realsense -->
    <include file="$(find leap_hardware)/launch/single_camera.launch"
        if="$(arg use_single_camera)" />

    <include file="$(find leap_hardware)/launch/double_camera.launch"
        unless="$(arg use_single_camera)" />


</launch>